@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  background-color: rgba(57, 57, 57, 0.6);
  min-height: 360px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  background-color: rgba(167, 167, 167, 0.6);
}

.title {
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  text-align: center;
  background-color: white;
  color: darkslateblue;
}